.field
  = f.label :username
  = f.text_field :username, :autocomplete => 'off'
.field
  = f.label :password
  = f.password_field :password, :value => @channel.config['password'], :autocomplete => 'off'
.field
  = f.label :number
  = f.text_field :number
.field
  = f.label :limit
  = f.text_field :limit

  = f.hidden_field :kind
