.field
  = f.label :username
  = f.text_field :username, :autocomplete => 'off'
.field
  = f.label :password
  = f.password_field :password, :value => @channel.password, :autocomplete => 'off'
.field
  = f.label :number
  = f.text_field :number
.field
  = f.label :limit
  = f.text_field :limit
.field
  = f.label :domain
  = f.text_field :domain
.field
  = f.label :direction
  = f.select :direction, [['Incoming', 'inbound'], ['Outgoing', 'outbound'], ['Both directions', 'both']]
.field
  = f.label :register, style: 'display:inline-block'
  = f.check_box :register
