%h2 Channels
= render partial: '/shared/channels_tabs'

%br
.tablewrapp.w60
  %table.GralTable.TwoColumn.CleanTable.ItemsTable{:class => ('empty' if @channels.empty?)}
    %tr
      %th My Channels
      %th
        = select_tag('new_channel', options_for_select(@channel_kinds), onchange: 'create_channel(this)', prompt: 'Create new...')
    - if @channels.empty?
      %tr
        %td.EmptyFolder{:colspan => 100}
          %br
          You have no voice channels yet.
          %br
          = select_tag('new_channel', options_for_select(@channel_kinds), onchange: 'create_channel(this)', prompt: 'Create new...')
    - else
      - @channels.each do |channel|
        %tr.link{'data-url' => channel_path(channel)}
          %td
            - status = @channel_status[channel.id]
            - status_ok = status.nil? || status[:ok]
            %span{style: "display: inline-block; width: 10px; height: 10px; background-color: #{ status ? (status_ok ? '#6BD346' : '#FF642A') : '#D0D0D0' }"}
            = channel.name
            - unless status_ok
              %br
              - status[:messages].each do |message|
                %label.error
                  = message
                %br
          %td
            %button.farrow{:type => :button}
    %tr
