%h1= project.name

%ul.tabs.top
  %li{ :class =>"#{"active" if params[:controller] == "projects" && params[:action] == 'show'}" }
    = link_to "Overview", project_path(project)
  %li{ :class =>"#{"active" if params[:controller] == "call_flows"}" }
    = link_to "Call Flows", project_call_flows_path(project)
  %li{ :class =>"#{"active" if params[:controller] == "resources"}" }
    = link_to "Resources", project_resources_path(project)
  %li{ :class =>"#{"active" if params[:controller] == "schedules"}" }
    = link_to "Schedules", project_schedules_path(project)
  %li{ :class =>"#{"active" if params[:controller] == "contacts"}" }
    = link_to "Phone Book", project_contacts_path(project)
  %li{ :class =>"#{"active" if params[:controller] == "external_services"}"}
    = link_to "External Services", project_external_services_path(project)
  %li{ :class =>"#{"active" if params[:controller] == "feeds"}" }
    = link_to "Feeds", project_feeds_path(project)
  %li{ :class =>"#{"active" if params[:controller] == "projects" && params[:action] == 'edit'}" }
    = link_to "Settings", edit_project_path(project)
.tabsline
%br
